@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #272727;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.cadastrar-produto{
    margin-top: 6rem;
}

.cadastrar-produto h2::after{
    content: '';
    display: block;
    width: 17.2rem;
    height: 0.1rem;
    background-color: #B21E35;
    margin: 0 auto;
    position: absolute;
}

.produto {
    margin-top: 5rem;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0000006b;

}

.produto h2::after{
    content: '';
    display: block;
    width: 20.8rem;
    height: 0.1rem;
    background-color: #B21E35;
    margin: 0 auto;
    position: absolute;
}
.formulario-produto{
    padding: 15px;
}
.thead{
    background-color: #B21E35;
}
.table{
    border-radius: 10px;
}

.table td{
    background-color: #303030;
    padding: 8px;
}

.formulario-produto input{
    display: flex;
    padding: 10px;
    margin: 2px;
    border-radius: 15px;
    background-color: #202020;
    color: white;
    box-shadow: 3px 3px 5px #0000006b;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
    transition: 0.5s ease;
}
.formulario-produto input:hover{
    transform: scale(1.02);
}

.novo-produto{
    border-radius: 15px;
    padding: 6px;
    border: none;
    color: white;
    width: 10vw;
}

i{
    padding:2px;
}

.inputNome {
    width: 25vw;
}

.inputPreco {
    width: 25vw;
}