.card{
    background-color: transparent;
    color: white;
    border: 1;
}

.card-body{
    text-align: center;
}

input[type=text]{
    border-bottom: 1px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    border-radius: 0;
}

input[type=text]:focus{
    border-bottom: 1px solid white;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 0;
}

.btn{
    background: transparent;
    border-color: white;
    border-radius: 10px;
}

.btn:hover{
    background: transparent;
}