@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #272727;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.cadastrar-produto{
    margin-top: 5rem;
}

.cadastrar-produto h2{
    text-align: center;
}
.produto h2{
    text-align: left;
}

.produto {
    width: 60vw;
    margin-top: 5rem;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0000006b;

}

.produto h2::after{
    content: '';
    display: block;
    width: 20.8rem;
    height: 0.1rem;
    background-color: #B21E35;
    margin: 0 auto;
    position: absolute;
}
.formulario-produto{
    padding: 15px;
}
.formulario-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.thead{
    border: none;
    background-color: #B21E35;
}
.table{
    border: none;
    border-radius: 10px;
}

.table td{
    border: none;
    background-color: #303030;
    padding: 8px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-group input{
    width: 30vw;
    padding: 10px;
    margin: 2px;
    border-radius: 15px;
    background-color: #383838;
    color: white;
    box-shadow: 3px 3px 5px #0000006b;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
    transition: 0.5s ease;
}
.form-group input:hover{
    transform: scale(1.02);
}

.form-group select{
    width: 30vw;
    padding: 10px;
    margin: 2px;
    background-color: #383838;
    color: white;
    box-shadow: 3px 3px 5px #0000006b;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.novo-produto{
    border-radius: 15px;
    padding: 8px;
    border: none;
    color: white;
    width: 30vw;
    font-weight: 800;
    font-size: 15px;
    cursor:pointer;
    letter-spacing: 2px;
    transition: 0.5s ease;
    margin: 0.4rem;
}

i{
    padding:2px;
}

.produto-editar{
    color: #fff;
    background-color: #0167ff;
    border-radius: 100px;
    border: none;
}
