@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #272727;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.cadastrar-cliente{
    margin-top: 6rem;
}
.cadastrar-cliente h2::after{
    content: '';
    display: block;
    width: 16.2rem;
    height: 0.1rem;
    background-color: #B21E35;
    margin: 0 auto;
    position: absolute;
}
.formulario-cliente{
    display: flex;
    padding: 20px;
    margin: 10px;
}
.botao{
    display: flex;
    justify-content: right;
    margin-top: 0;
    margin-right: 5rem;
}
.novo-cliente{
    border-radius: 15px;
    padding: 6px;
    border: none;
    background-color: #00b615;
    color: white;
    width: 10vw;
}
i{
    padding:2px;
}
input{
    display: flex;
    padding: 5px;
    margin: 2px;
    border-radius: 15px;
    background-color: #202020;
    color: white;
}
.nome{
    width: 30vw;
}
.celular{
    width: 30vw;
}
.email{
    width: 30vw;
}
.logadouro{
    width: 30vw;
}
.cep{
    width: 15vw;
}
.cidade{
    width: 15vw;
}
.bairro{
    width: 17vw;
}
.numero{
    width: 12vw;
}