@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #272727;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}
.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #252525;
    color: white;
    width: 55%;
    box-shadow: 10px 10px 15px #0000006b;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 2px;
    width: 20vw;
}
.form-group > input::placeholder{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#login, #senha{
    margin: 6px 0px;
    background-color: #383838;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: #fff;
    box-shadow: 3px 3px 5px #0000006b;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.btn{
    width: 100%;
    color: white;
    background: #B21E35;
    border: none;
    border-radius: 15px;
    padding: 8px;
    outline: none;
    font-weight: 800;
    font-size: 15px;
    cursor:pointer;
    letter-spacing: 2px;
}

.btn:hover{
    background: #B21E35;
    border: #B21E35;
}

.div-login{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-wpp{
    display: flex;
    height: 100vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.imagem{
    width: 35vw;
    transform: translateY(0);
    animation: flutuar 5s ease-in-out infinite;
}

.card-title{
    text-align: center;
}
@keyframes flutuar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    75%{
        transform: translateY(5);
    }
    100%{
        transform: translateY(0);
    }
}

@media only screen and (max-width: 950px) {
    .card{
        width: 80%;
    }
}
@media only screen and (max-width: 600px){
    .div-wpp{
        display: none;
    }
    .div-login{
        width: 100%;
    }
    .card{
        width: 80%;
    }
    .form-group{
        width: 80vw;
    }
}