@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #272727;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.cadastrar-produto{
    margin-top: 5rem;
}

.cadastrar-produto h2{
    text-align: center;
}
.produto h2{
    text-align: left;
}

.produto {
    margin-top: 5rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0000006b;

}

.produto h2::after{
    content: '';
    display: block;
    width: 20.8rem;
    height: 0.1rem;
    background-color: #B21E35;
    margin: 0 auto;
    position: absolute;
}
.formulario-produto{
    padding: 15px;
}
.formulario-produto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.thead{
    border: none;
    background-color: #B21E35;
}
.table{
    border: none;
    border-radius: 10px;
}

.table td{
    border: none;
    padding: 8px;
}

i{
    padding:2px;
}

.paginate_button.page-item.active .page-link{
 margin-right: 0.25rem;
 margin-left: 0.25rem;
 background-color: #B21E35;
 border-radius: 100%;
 border: none;
}

.page-link:focus{
    box-shadow: none;
}

.paginate_button.page-item .page-link{
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    background-color: #7e7e7e83;
    color: #fff;
    border-radius: 100%;
    border: none;
   }

.page-item.next.disabled .page-link{
    margin-left: 0.25rem;
    border-radius: 20px;
    background-color: #7e7e7e83;
    color: #fff;
    border: none;
}

.page-item.next .page-link{
    margin-left: 0.25rem;
    border-radius: 20px;
    background-color: #B21E35;
    color: #fff;
    border: none;
}

.page-item.previous.disabled .page-link{
    margin-right: 0.25rem;
    border-radius: 20px;
    background-color: #7e7e7e83;
    color: #fff;
    border: none;
}

.page-item.previous .page-link{
    margin-right: 0.25rem;
    border-radius: 20px;
    background-color: #B21E35;
    color: #fff;
    border: none;
}

.dt-button.buttons-print{
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.dt-button:hover.buttons-print:hover{
    background-color: #007bff;
    border: none;
}

.dt-button.buttons-pdf.buttons-html5{
    background-color: #ff0026;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.dt-button:hover.buttons-pdf:hover.buttons-html5:hover{
    background-color: #ff0026;
    border: none;
}