@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    color: #fff;
    background-color: #272727;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.cadastrar-cliente{
    text-align: center;
    margin-top: 5rem;
}

.cliente{
    margin-top: 5rem;
    width: 60vw;
    box-shadow: 10px 10px 15px #0000006b;
    border-radius: 10px;
    padding: 20px;
    background-color: #202020;
}
.thead{
    border: none;
    background-color: #B21E35;
}
.table{
    border: none;
    border-radius: 10px;
}

.table td{
    text-align: center;
    border: none;
    background-color: #303030;
    padding: 8px;
}

.cliente h2::after{
    content: '';
    display: block;
    width: 19.5rem;
    height: 0.1rem;
    background-color: #B21E35;
    margin: 0 auto;
    position: absolute;
}

.formulario-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.novo-cliente{
    border-radius: 15px;
    padding: 8px;
    border: none;
    color: white;
    width: 14vw;
    font-weight: 800;
    font-size: 15px;
    cursor:pointer;
    letter-spacing: 2px;
    transition: 0.5s ease;
    margin: 0.4rem;
}
.visualizar-cliente{
    margin: 0.4rem;
    border-radius: 15px;
    padding: 8px;
    border: none;
    color: white;
    width: 14vw;
    font-weight: 800;
    font-size: 15px;
    cursor:pointer;
    letter-spacing: 2px;
    transition: 0.5s ease;
}

.novo-cliente:hover{
    transform: scale(1.05);
}
.visualizar-cliente:hover{
    transform: scale(1.05);
}
.excluir-cliente{
    color: #fff;
    background-color: #c40824;
    border-radius: 5px;
    border: none;
    width: 3rem;
    height: 3rem;
}
.editar-cliente{
    color: #fff;
    background-color: #0167ff;
    border-radius: 5px;
    border: none;
    width: 3rem;
    height: 3rem;
}

i{
    padding:2px;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-group input{
    width: 30vw;
    padding: 10px;
    background-color: #383838;
    color: white;
    box-shadow: 3px 3px 5px #0000006b;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 15px;
    transition: 0.5s ease;
    margin-bottom: 0.6rem;
}

.form-group input:hover{
    transform: scale(1.02);
}


